@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Mansalva&display=swap');

/*General style*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Body styling*/
body {
    background-image: linear-gradient(to bottom,  #888B8D, #43464b);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: Mansalva, sans-serif;
    }

/*Styling for canvas*/
#can1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

/* Style for heading*/
h1 {
    font-family: Gloria Hallelujah, sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

/*Styling of controls*/
.controls {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.controls, select, option {
    font-size: 25px;
}

/*Background styling*/

#can2 {
    position: absolute;
    border: 3px solid white;
    width: 800px;
    height: 700px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}