@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Mansalva&display=swap');

/*General style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body styling*/
body {
    background-image: linear-gradient(to bottom,  #888B8D, #43464b);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: Mansalva, sans-serif;
    }

nav {
    float: left;
}

/*Paragraph styling*/
p {
    font-family: Mansalva, sans-serif;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 15px;
}

/*Unordered list styling*/
ul {
    font-family:  Mansalva, sans-serif;
    font-size: 200%;
    text-align: center;
}

/*Start button styling*/
.start-button {
    font-size: 150%;
    font-family: Mansalva, sans-serif;
    text-align: center;
    padding: 5px;
    display: block;
    margin: 0 auto;
    border: 4px solid black;
    border-radius: 15px;
}

/*Styling for canvas*/
#can1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

/* Style for heading*/
h1 {
    font-family: Gloria Hallelujah, sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

/*Styling of controls*/
.controls {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.controls, select, option {
    font-size: 25px;
}

/*Background styling*/

#can2 {
    background-color: black;
    position: absolute;
    border: 3px solid white;
    width: 800px;
    height: 720px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/*Game canvas styling*/

#game-canvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}